


<!-- Sayfada kaydırma ile ilgili özel işlemler için kullanılan JavaScript dosyasını dahil eder -->
<!-- Üst menü/topbar için işlevsellik sağlayan JavaScript dosyasını dahil eder -->


<script src="/js/scroll.js"></script>
<script src="/js/topbar.js"></script>
</body>
</html>