<header class="header target">
   <!-- Sayfanın üst kısmında bulunan başlık bölümü -->
   <img src="{{headerData.imgURL}}" alt="home">
   <!-- Header bölümüne bir resim ekleniyor. Resim URL'si dinamik olarak şablon verilerinden alınıyor.
        Alt metin (alt) olarak 'home' tanımlanmış. -->

   <h1>Project Evaluations</h1>
   <!-- Ana başlık: Bu başlık sayfanın ana konusunu belirtir. -->

   <h2>Rate Your Projects, Measure Your Success</h2>
   <!-- Alt başlık: Kullanıcıya sayfanın amacını açıklayıcı bir mesaj verir. -->
</header>
