.about {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding: 40px 20px;
   background-color: #427D9D; /* Arka plan rengi */
}



.about .wrapper {
   width: 100%;
   max-width: 1366px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   margin: 40px 0;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 15px;
   background-color: #ffffff;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease-in-out;
   overflow: hidden;
}

.about .wrapper:nth-child(2n) {
   flex-direction: row-reverse;
}

.about .text,
.about .picture {
   flex: 1;
   padding: 10px;
}

.about .text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-height: 320px;
   overflow: hidden;
}

.about .text h3 {
   font-family: 'Merriweather', serif;
   font-size: 2.2rem;
   font-weight: 700;
   color: #164863;
   margin-bottom: 10px;
   letter-spacing: 0.5px;
}

.about .text p {
   font-family: 'Merriweather', serif;
   font-size: 1rem;
   padding: 0;
   line-height: 1.5; /* Satır arası boşluk düzenlendi */
   font-weight: 400;
   color: #164863;
   margin-bottom: 12px; /* Satır sonu boşlukları düzenlendi */
}

.about .text p::first-letter {
   font-size: 1.2rem;
   font-weight: bold;
}

.about .text p strong {
   font-weight: 700;
}

.about .picture img {
   width: 100%;
   max-width: 550px;
   height: auto;
   border-radius: 12px;
   object-fit: cover;
   cursor: pointer;
   transition: all 0.3s ease;
}

.about .picture img:hover {
   transform: scale(1.05);
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Scroll animation */
.about .wrapper {
   opacity: 0;
   transform: translateY(50px);
   transition: all 0.5s ease-out;
}

.about .wrapper.active {
   opacity: 1;
   transform: translateY(0);
}

.about .text {
   transition: transform 0.8s ease;
   transform: translateX(-20px);
}

.about .wrapper:nth-child(2n) .text {
   transition: transform 0.8s ease;
   transform: translateX(20px);
}

.about .wrapper.active .text {
   transform: translateX(0);
}

.about .picture {
   transition: transform 0.8s ease;
   transform: translateX(20px);
}

.about .wrapper:nth-child(2n) .picture {
   transform: translateX(-20px);
}

.about .wrapper.active .picture {
   transform: translateX(0);
}
