.home{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   background-color: whitesmoke;
   margin: 10px 0;
}
.home .wrapper{
   width: 100%;
   max-width: 1366px;
   display: flex;
}