{{>header}}

<div class="about">
   <div class="wrapper target">
      <div class="text">
         <h3>
            Our Web Site
         </h3>
         <p>
            Welcome to our Project Evaluation platform! Our mission is to provide an intuitive and efficient space for rating, analyzing, and sharing feedback on diverse projects. Whether you're looking to showcase your work or assess others, we aim to foster an environment of growth and constructive critique. Join us in promoting creativity and innovation through fair evaluation and insightful reviews.
         </p>
      </div>
      <div class="picture">
         <img src="/img/team/team-1.jpg" alt="team">
      </div>
   </div>

   <div class="wrapper target">
      <div class="text">
         <h3>
            Website Offer
         </h3>
         <p>
            <strong>Anonymity Guaranteed</strong><br>
            All evaluations are completely anonymous, ensuring unbiased and honest feedback.<br><br>

            <strong>Project Rankings</strong><br>
            The scores are used to generate rankings, serving as a reference for future work and inspiring innovation.<br><br>

            <strong>Transparent and Measurable Feedback</strong><br>
            Our scoring system objectively assesses the performance of projects, offering constructive guidance for improvement.
         </p>
      </div>
      <div class="picture">
         <img src="/img/team/team-2.jpg" alt="team">
      </div>
   </div>

   <div class="wrapper target">
      <div class="text">
         <h3>
            Website Design
         </h3><br>
         <p>
            <strong>User-Centric Approach</strong><br>
            Prioritizing navigation and functionality to enhance visitor engagement.<br><br>

            <strong>Responsive Design</strong><br>
            Websites optimized for all devices, ensuring accessibility anywhere, anytime.<br><br>

            <strong>Creative and Modern Aesthetics</strong><br>
            Designs that capture your brand's identity and attract your target audience.
         </p>
      </div>
      <div class="picture">
         <img src="/img/team/team-3.jpg" alt="team">
      </div>
   </div>
</div>
